body{
    position: relative;
}
.mainnav{
    background-color:white ;
    box-shadow: #aaa 1px 1px 1px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 20000;
    width: 100%;
}
.mainnav .logo .pic{
    width: 40px;
    height: 40px;
    padding: 0 30px;
}
.mainnav .logo img{
    width: 100%;
    
}
.mainnav h1{
    font-size: 16px;
}


.mainnav .container{
    display: flex;
    height: px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 241, 241);
}

.mainnav .logo{
    display: flex;
  
    align-items: center;
}
.mainnav .navbar{
    display: flex;
    
}
.mainnav .navbar a{
    text-decoration: none;

}
.mainnav .navbar :hover{
    text-decoration: none;
    color:rgb(255, 204, 36);
    
}
.mainnav .navbar li{
    padding: 0 20px;
   
}
.mainnav .navbar li :hover{
    color:rgb(255, 204, 36);
   
}

.mainnav .login{
    display: flex;
    
    
}

.mainnav .login li{
    padding:0 10px;
    margin: 0 5px ;
}

.mainnav .login a{
    color: gray;
    text-decoration: none;
}
.mainimg .container{
    /* width: 1200px; */
    margin-right: auto;
    position: relative;
    margin-top: 100px;
   
}
.mainimg .container .txt p{
    background-color: gray;
}
.mainimg .container .txt{
    position: absolute;
    top: 50%;
    left: 30%;
    font-weight: 900;
    transform: translate(0%,70%);
}
.mainimg .container .txt button{
    background-color:#ffb000;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 30px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    margin-left: auto;
    
}
.mainimg .container .txt button:hover{
    color:rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
}



}
.mainimg h2{
    font-size: 40px;
    padding: 30px 0px;
}
.mainimg p {
    font-size: 24px;
}

.maingimg{
    margin: auto;
    width: 100vw;
    

}

.mainimg .container img{
    width: 100%;
    height: 500px;
   object-fit: cover;
   opacity: 0.9;
   
}body{
    position: relative;
}
.mainnav{
    background-color:white ;
    box-shadow: #aaa 1px 1px 1px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 2;
    width: 100%;
}
.mainnav .logo .pic{
    width: 40px;
    height: 40px;
    padding: 0 30px;
}
.mainnav .logo img{
    width: 100%;
    
}
.mainnav h1{
    font-size: 16px;
}


.mainnav .container{
    display: flex;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 241, 241);
}

.mainnav .logo{
    display: flex;
  
    align-items: center;
}
.mainnav .navbar{
    display: flex;
    
}
.mainnav .navbar a{
    text-decoration: none;
    color: black;
}
.mainnav .navbar li{
    padding: 0 20px;
}

.mainnav .login{
    display: flex;
    
    
}

.mainnav .login li{
    padding:0 10px;
       
}

.mainnav .login a{
    color: gray;
    text-decoration: none;
}
.mainimg .container{
    /* width: 1200px; */
    margin: auto;
    position: relative;
    
    
}
.mainimg .container .txt{
    position: absolute;
    top: 50%;
    left: 60%;
    font-weight: 900;
    transform: translate(0%,-50%);
}
.mainimg .container .txt button{
    background-color:#ffb000;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 30px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;

}
.mainimg h2{
    font-size: 40px;
    padding: 30px 0px;
}
.mainimg p {
    font-size: 24px;
}

.maingimg{
    margin: auto;
    width: 100vw;

}

.mainimg .container img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.mainimg .container .pic-1{
    width: 100%;
    height: 600px;
    margin: auto;
    background-size: cover;
}
.imgbottom{
    margin-top: 60px;
}
.imgbottom .slider{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: solid 1px red; */
}
.imgbottom .slider .container li{
    width: 25%;
    box-sizing: border-box;
    padding: 30px;
    margin: 20px;
    color: white;
    line-height: 1.6;
    background-color: #3a393880;
}
.imgbottom .slider .container li p{
    padding-bottom: 20px;
}
.imgbottom .slider .container li h2{
    padding-bottom: 20px;
    margin-top: 30px;
    font-weight: 900;
}
.imgbottom .slider .container li a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}
.imgbottom .slider .container .pic{
    width: 150px;   
    height: 150px;
    margin: auto;
}
.imgbottom .container{
    width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
}

.imgbottom .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;     
}
.imgbottom .banner{
    position: relative;
}
.imgbottom .bannerup img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
.imgbottom .bannerup{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: rotate(180deg);
}
.imgbottom .bannerdown img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
.imgbottom .bannerdown{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}


.imgbottom .banner> img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.dot1 {
    border-radius: 50% ;
    width: 8px;
    height:8px;
    background-color: rgb(0, 0, 0);
}
.dot2 {
    border-radius: 50% ;
    width: 8px;
    height:8px;
    background-color: rgb(0, 0, 0);

}
.dot3{
    border-radius: 50% ;
    width: 8px;
    height:8px;
    background-color: rgb(0, 0, 0);

}

.buttons{
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}
.buttons .dot2{
    margin:0 10px;
}
.pruduct{
    margin-top: 70px;
    background-image: url(./background4.png);
    background-size: cover;
    background-position: center center;
}
.pruduct .container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: left;
    position: relative;
   
}
.pruduct .container .pic{
    width: 60%;
    margin-right: auto;
}
.pruduct .container .pic img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.pruduct .container .pruduct-txt h1{
    font-size: 48px;
    font-family: Arial;
    color: gray;  
    font-weight:bold;
   position: absolute;
   right: 10%;
   top:35%;
   background-color: rgb(146, 144, 144);
   color: white;
   padding:20px;
   border-radius: 10px;
    
}
.pruduct .container .pruduct-txt h2{
    font-size: 18px;
   margin-top: 30px;
   font-weight:bold;
   position: absolute;
   right:140px;
   top:50% ;
   background-color: rgb(168, 168, 168);
   color: white;
   padding:20px;
   border-radius: 10px;
}
.pruduct .container img{
    width: 100%;
    height: 50%;
}
.title{
    width: 1200px;
    text-align: center;
    
    margin: auto;
}
.title h2{
    margin-top: 60px;
    font-size: 18px;
    font-weight: 900;
    
}
.product-list{
    background-color: #fffcda;
   margin-top: 30px;
}

.product-list .container{
    width: 1200px;
    margin: auto;
    display: flex;
}
.product-list .item-40 h2{
    padding: 0 10px 0 5px;
    color: #009e96;
    font-size: 18px;
    font-weight: 900;
}
.product-list .item-40 h3{
    color: #009e96;
    font-size: 18px;
    font-weight: 900;
}
.product-list .item-40{
    width: 40%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-list .item-60{
    width: 60%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding:36px 20px;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 700;
}
.product-list  .item-60 h2::before{
    content: "";
    position: absolute;
    top:15%;
    left: -5%;
    border-left: dotted 3px #009e96;
    height: 150%;
}
.product-list  .item-60 h2{
    position: relative;
}
.product-list .item-60 a{ 
    margin-left: auto;
    color: #009e96;
    text-decoration: none;
}

.product-list .pic{
    width: 27px; 
    height: 27px;
}

.product-list .pic img{
    width: 100%;
}


.imgbottom .container{
    width: 1200px;
}
.newsproduct{
    width: 40%;
    box-sizing: border-box;
    padding: 20px;   
    margin-top: 100px;
    
}
.newsproduct ul{
    line-height: 2;
    margin-top: 10px;
    list-style-type:disc;
}
.news .newsproduct .more{
    text-align: right;
    cursor: pointer ;
    color: #009e96;
}

.servicer{
    width: 60%;
    box-sizing: border-box;
    padding: 20px;
}
.news .container{
    width: 1200px;
    margin: auto;
}
.news .container .newsproduct  h2{
    font-size: 18px;
    font-weight: 900;
}
.news .container .servehead h2{
    font-size: 18px;
    font-weight: 900;
}
.news .item{
    display: flex;
}
.news .servehead span{
    background-color: #EDEDED;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer ;
}
.news .banksevericon {
    display: flex;
    margin-top: 30px;
    position: relative;
}
.banksevericon ::before{
    content: '';
    position: absolute;
    background-image: url(../Icon/arrow2.png);
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translate(-50%,0);
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}

.banksevericon ::after{
    content: "";
    position: absolute;
    background-image: url(../Icon/arrow1.png);
    top: 50%;
    right: 0;
    background-size: cover;
    width: 20px;
    height: 20px;
    z-index: 2;
    transform: translate(-50%,0);
    cursor: pointer;
}
.news .banksevericon img{
    width: 100%;
}
.news .banksevericon .txt{
    text-align: center;
    white-space: nowrap;
}
.news .banksevericon li{
    margin: 0 15px;
    padding: 0 15px;
}
.news .servehead{
    display: flex;
    justify-content: space-between;
}
.news .dotitems{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}


.news .dotitems .dot{
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    margin:  0 5px ;
    cursor: pointer ;
    
    
}


.Transfer-banner{
    margin-top: 60px;
}
.Transfer-banner .container{
    width: 1200px;
    display: flex;
    margin: auto;
}
.Transfer-banner .life{
    display: flex;
}
.Transfer-banner .life li{
    height: 129.5px;
    font-weight: 900;
    width: 25%;
    line-height: 129.5px;
    margin: 0 10px;
    box-sizing: border-box;
    background-color: #d0e0de;
    border-radius: 50%;
    
}
.Transfer-banner .pic{
    width: 50%;
  box-sizing: border-box;
  
  ;
}
.Transfer-banner img{
    width: 100%;
    vertical-align: bottom;
}
.Transfer-banner .txt{
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Transfer-banner .pic{
    width:50%;
    position: relative;
    z-index: -1;
}
.Transfer-banner .container .txt h2{
    background-color:#d0e0de; 
    padding: 30px;
    margin-left: -10%;
}
.Transfer-banner .container .txt ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Transfer-banner .container .pic-1{
    position: absolute;
    width: 25%;
    left: 0;
    top: 81%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.Transfer-banner .container .txt ul a{
        text-decoration:none;
        color: black;
    }
.Transfer-banner .slogan li{
    background-color: #d0e0de;
    border-radius: 10px;
    padding: 10px;
}

.Product-Detail-Page{
    margin-top: 60px;
}
.Product-Detail-Page .container{
    width: 1200px;
    margin: auto;
    display: flex;
}

.Product-Detail-Page .item{
    width: 33.33333%;
    box-sizing: border-box;
    border-radius: 10px;
    margin:0 15px ;
    cursor:pointer;
    border-radius: 30px;
}   
.Product-Detail-Page img{
    width: 100%;
}

.Product-Detail-Page .btn .pic{
    width: 10px;
    border-radius: 10px;
    margin:  0 5px; 
}



}
.Product-Detail-Page .btn{
    display: flex;
    justify-content: center;
    padding: 20px 0;   
    
}

.Product-Detail-Page .btn img{
    width: 100%;
}


.Product-Detail-Page .txt h1{
    font-size: 26px;
    font-weight: 500;
    mra
}
.Product-Detail-Page .txt{
    text-align: center;
    /* background-color: brown; */
    padding-bottom: 20px;
    padding: 20px 0;
    line-height: 1.6;
    background-color: #c5dcd9;
    position: relative;
}

.Product-Detail-Page span{
    position: absolute;
    left: 5%;
    bottom: 15%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.705);
    padding: 5px 15px;
    color: #037e78;
}
.Product-Detail-Page .item .picset{
    position: relative;
}
.fotter{
    margin-top: 60px;
}
.fotter .container {
    width: 1200px;
    margin: auto;
    display: flex;


}
.fotter .container .cash{
    width: 30%;
    box-sizing: border-box;
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}

.fotter{
   margin-top: 60px;
}



.fotter .pic {
    display:flex;
    
}
.fotter .container .txt{
    width: 70%;
    box-sizing: border-box;
    line-height: 1.4;
}

.fotter-1 .container{
    width: 1200px;
    margin: auto;   
    display: flex;
    background-color: rgba(241, 239, 239, 0.596);
    
}
.fotter-1 .item{
    width: 33.333333%;
    
}
.fotter-1 .container .ecoutmer{
    display: flex;
    flex-wrap: wrap;
    
}
.fotter-1 .ecoutmer li{
    width: 50%;
    box-sizing: border-box;
}

.fotter-1 .ecoutmer-1{
    display: flex;
    flex-wrap: wrap;
}
.fotter-1 .ecoutmer-1 li{
    width: 33.333333%;
    box-sizing: border-box;
}
.fotter-1 .ecoutmer-2 .item{
    display: flex;
    justify-content: center;
    }

.fotter-1 .item .pic{
    width: 50%;
    margin:  0 15px;
}
.fotter-1  .item .wrap{
    display: flex;
}
.fotter-1 .ecoutmer-2 ul{
    width: 50%;
}
.fotter-1 .item img{
    width: 50%;
    vertical-align: bottom;
}
.fotter-1{
    background-color: #eee;
    margin-top: 60px;
    padding: 30px 0px;
}


.fotter-1 .item  .ecoutmer a,
.fotter-1 .item  .e-coutmer-2 a,
.fotter-1 .item  .ecoutmer-1 a
{
    text-decoration: none;
    color: black;
    line-height: 2;
}

.fotter-1 .item h2{
    line-height: 1.6;
  
}
.backtotop img{
    width: 100%;
    object-fit: cover;
}
.backtotop .pic{
    width: 150px;
}
.backtotop{
    position: fixed;
    right: -3%;
    bottom: 0;
    z-index: 2;
}

.aboutus-txt .container{
    width: 1200px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;

}
.aboutus-txt .container .aboutus-menu {
    display: flex;
    flex-wrap: wrap;
}
.aboutus-menu .pic img{
    width: 100%;
    object-fit: cover;
}
.aboutus-menu .pic{
    height: 200px;
    overflow: hidden;
    margin-bottom: 30px;
}
.aboutus-menu .item {
    box-sizing: border-box;
   padding: 30px 30px;
    width: 33.333333%;
}

select {
    margin: 40px;
    width: 160px;
    padding: 4px 30px 4px 4px;
    font-size: 14px;
    border: 1px solid #eee;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://tinyurl.com/22s26jw9) 100% / 15% no-repeat #ccc;

   }
   .aboutus-txt .container .aboutus-search{
       margin-left:auto;
       line-height: 1.6;
   }
   .aboutus-txt .container >h2{
     padding-top:  55px;
     font-weight: 700;
     margin-left: 30px;
   }
   
   .aboutus-txt .item h2{
   
    font-weight: 700;
    margin-left: 30px;
   }
  .product-demo{
      margin-top: 100px;
     
  }
  .product-demo .container{
      width: 1200px;
      margin: auto;
      display: flex;
  }
  .product-demo .main{
    width: 20%;
    box-sizing: border-box;
  }
  .product-demo .main :hover{
    cursor: pointer;
    background-color: rgb(228, 222, 222);
}
  .product-demo .main > ul{
      position: sticky;
      top: 100px;
  }
  .product-demo .main li{
      width: 100%;
      background-color: #f6f6f6;
      text-align: center;
      border: 1px #d8dfe3 solid;
      padding: 20px 0px;
      box-sizing: border-box;
  }
  .product-demo .sealcard{
      width: 80%;
      margin: 0px 30px;
      box-sizing: border-box;
  }
  .product-demo .carditem{
      display: flex;
  }
  .product-demo .carditem .pic,
  .product-demo .carditem ul,

  .product-demo .buttom{
      width: 33.333333%;
      box-sizing: border-box;
      
  }
  
  .product-demo .container .main  li .img img{
      width: 100%;
  }
  .product-demo .pic img{
      width: 100%;
  }
  .product-demo .carditem ul li{
      list-style: disc;
      margin: 20px;
  }
  .product-demo .buttom{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }
  

  .product-demo .buttom :nth-child(1){
    border-color: #24a09a;
    color: #fff;
    background-color: #24a09a;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  .product-demo .buttom :nth-child(2){
    border: 1px solid #24a09a;
    color: #24a09a;
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    
  }
  .product-demo .sealcardfun :hover{
      color: #009e96;
      cursor: pointer;
      border-bottom: 3px solid ;
  }
  .product-demo .sealcardfun{
      display: flex;
      justify-content: space-around;
      margin: 40px 0px;
      border-bottom: 1px #aaa solid;
      padding-bottom: 10px;
      height: 20px;
  }
  .product-demo .bannerfooter img{
      width: 80%;
      vertical-align: bottom;
  }
  .product-demo .bannerfooter{
      text-align: center;
      width: 100%;
  }
  .product-demo .cardbtn{
    text-align: center;
    margin-top: 40px;
    
  }
  .product-demo .cardbtn a{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #24a09a;
    color: #24a09a;
    background-color: transparent;
  }
  .product-demo .cardbtn :hover{
      color: white;
    background-color:#24a09a; 
    cursor: pointer;
    border-bottom: 3px solid
  }

  .product-demo .sealcard h2{
      font-size: 20px ;
      color:#24a09a;
      font-weight: 900;
      margin:  15px  5px;
  }
  

  .mainimg{
      margin-top: 100px;
  }

.sealcard .pic{
    width: 250px;
    margin: auto;
}
.sealcard img{
    width: 100%;
}

.pruduct{
    margin-top: 140px;
}

.buydoller .container{
    width: 1200px;
    margin: auto;
}
.buydoller .container .item{
    display: flex;
}

.buydoller .container .item  ul li{
    border-bottom: #ccc 1px solid;
}

.buydoller .container .item .doller-main ul{
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
   min-width: 180px;
}



 .mainnav .logo a{
      text-decoration: none;
 }
.content .container{
   
     width: 1200px;
     height: auto;
    margin: auto;
    color: rgb(10, 10, 10);
    position: relative;
    margin-bottom: 100px;
 }
 .content .mainimg .pic{
     width:1200px ;
     height: 500px;

 }
 .content .mainimg img{
    width: 100%;

}

 .content .container .bacnword{
     padding-left: 20px;
     padding-bottom: 25px;
     font-family: Arial;
     letter-spacing: 1.2px;
     line-height: 30px;
 }
 .content .container h1{
     font-family: 'Times New Roman';
     font-size: 50px;
     padding-left: 20px;
     margin-top: 9%;
     letter-spacing: 2px;
 }
.content .container .cn{
    width: 160px;
    height: 40px;
    background-color: #ffb000;
    border:none;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.content .container .cn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .3e ease;
}
.cn:hover {
    background-color: black;
}
.content span{
    background-color: orange;
    font-size: 60px;
}

.content .form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,)50%);
    position: absolute;
    top: -20px;
    left:870px;
    border-radius: 10px;
    padding: 25px;
}

.content h2{
    width: 220px;
    font-family: Arial;
    color: orange;
    font-size: 22px;
    background-color: #3a3938;
    border-radius: 10px;
    margin: 2px;
    padding: 8px ;
}

.content .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ffb000;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.content .form:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: Arial;
}
.content .container .btn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    transform: 0.4 ease;
}
.btn:hover{
    background: #fff;
    color: #ff7200;

}
.content .container .btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form link{
    font-family: Arial, Helvetica, sans-serif;
    font: size 17px;
    padding-top: 20px;
    text-align: center;

}
.logoin{
        margin-top: 200px;
        margin-bottom:500px   
     }
        
.logoin .pic img{
        width: 100%;
    }
.logoin .container{
        width: 1200px;
        margin: 0 auto;
        object-fit: cover; 
        display: flex;
        position: relative;
    }
.logoin  img{
        width: 100%;    
    }


.logoin .container h1{
        width: 50%;
        font-size: 38px;
        font-weight: 600;
        text-shadow: black;
        position: absolute;
        left: 15%;
        top:20%;
        color: red;
    }
.logoin .container .wrap{
        width: 50%;
    }
.logoin .container .logointitle{
        font-size: 32px;
        color: #BD0000;
        margin: 0 0 32px;
    }
.logoin .container .from{
    position: absolute;
    right: 60%;
    top: 25%;
    }
.reset{
    background-color: rgb(224, 224, 224);
}
   
.reset .container{
    width: 1200px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    }
.reset .item{
    width: 50%;
    margin: 50px 50px;
    justify-content: center;
    border: rgb(255, 255, 255) 3px solid;
    background-color: white;
    border-radius: 50px;
    justify-content: space-between;
    box-sizing: border-box;
}
.reset .item h2{
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    text-align: center;
    font-family: "微軟正黑體","Microsoft JhengHei",'LiHei Pro',Arial,Helvetica,sans-serif,\5FAE\8EDF\6B63\9ED1\9AD4 \9!important;
    padding: 0;
    color: #4c5141;
    box-sizing: border-box;
    line-height: 1.5;
    margin: 5px 0 5px 0;
}
.reset  h2{
  text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    cursor: default;
    color: #009d97;
    line-height: 2;
}
.reset .item p{
   margin: 5px;
   padding: 5px;
   line-height: 2;
   font-size: 14px;
}
.reset .item a{
  text-decoration: none;
  color: #009d97;
 }

.reset .item h3{
    text-align: center;
      margin-bottom: 5px;
      font-size: 16px;
      cursor: default;
      line-height: 2;
  }
.reset .item button{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-family: "微軟正黑體","Microsoft JhengHei",'LiHei Pro',Arial,Helvetica,sans-serif,\5FAE\8EDF\6B63\9ED1\9AD4 \9!important;
    -webkit-text-size-adjust: none;
    cursor: pointer!important;
    box-sizing: border-box;
    line-height: 24px!important;
    font-weight: normal;
    color: #fff!important;
    text-align: center;
    text-decoration: none;
    font-size: 16px!important;
    background: #009d97;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 10px 0;
    margin: 0 auto;
    width: 100px;
    display: block;
}
.reset .container .item .pic{
    width: 50px;
    display: flex;
    margin:auto;
}

.reset .container .item .pic img{
    width: 100%;
}


.sealbanner .container{
    position: relative;
    margin: auto;
    background-image: url(../pic/backgroundigray.png);
    
}
.sealbanner .container img{
    width: 100%;
   opacity: 0.9;
   margin-top: 100px;
vertical-align: bottom;
}
    

.sealbanner .container .txt{
        position: absolute;
        top: 50%;
        left: 15%;
        font-weight: 900;
        transform: translate(0%,-50%);
        font-size: 32px;
}
    
.sealbanner .container button{
    background-color:#ffb000;
        border-radius: 50px;
        padding: 10px 20px;
        margin-top: 30px;
        color: white;
        border: none;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
}
.sealbanner .container .pic{
    margin: auto;
}

.sealbanner.container .sealcard-txt h2{
    font-size: 18px;
   margin-top: 30px;
   font-weight:bold;
   position: absolute;
   right:140px;
   top:50% ;
   background-color: rgb(168, 168, 168);
   color: white;
   padding:20px;
   border-radius: 10px;
}


.personal {
    margin-top: 100px;
}
.personal .container{
    width: 1200px;
    margin: auto;

}

.personal .container .pic{
   width: 50%;
}
.personal .container .pic img{
    width: 100%;
}
.personal .container .wrap ul{
    width: 130px;
    list-style: none
}
.personal .container .wrap{
    border: #777979 2px solid;
}
.personal .container .wrap  li{
    width: 150px;
   border: black 3px solid;
   text-decoration: none;
}

.personal .container a{
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    overflow: visible;
    -webkit-appearance: button;
    display: block;
    height: 54px;
    width: 236px;
    text-align: center;
    border: none;
    border-radius: 27px;
    background-color: #00a546;
    line-height: 54px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.personal .container p{
  color: black;
  font-size: 14px;
}

.personal .container >h2{
    
}


.loanbanner-1 {
    margin-top: 100px;
}
.loanbanner-1  .container{
    width: 1200px;
    width: auto;
}

.loanbanner-1 .container .pic{
    width: auto;
    box-sizing: border-box;
}
.loanbanner-1 .container img{
    width: 100%;
}

.loanbanner-1 .container {
    position: relative;
}
.loanbanner-1 .container .txt{
    position: absolute;
    left: 70%;
    top:  40%;
}

.loanbanner-1 .container .txt{
    -webkit-text-size-adjust: none;
    color: #3e3f3f;
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0 0 15px;
    line-height: 1.3;
    letter-spacing: 5px;
    font-size: 60px;
}



.loanbanner-2 {
    margin-top: 100px;
}
.loanbanner-2 .container{
    width: 1200px;
    margin: auto;
}
.loanbanner-2 .main{
    font-size: 32px;
    
}

.loanbanner-2 .container .slider{
   display: flex;
}
.loanbanner-2 .container ul{
    width: 100%;
    
}
.loanbanner-2 .container li .pic{
    width: 100px;
}
.loanbanner-2 .container li img{
    width: 100%;
}
.loanbanner-2 .item{
    margin: auto;
}

.loanbanner-3{
    margin-top: 100px;
}
.loanbanner-3 .container{
    width: 1200px;
    margin: auto;
    width:100%;display: flex;
    position: relative;
}
.loanbanner-3 .container .pic{
    margin: auto;
}

.loanbanner-3 .container .pic img{
    width: 100%;
}
.loanbanner-3 .container .loanbanner-3-txt{
    position: absolute;
    left: 40%;
    top: 20%;
    color: #3a3938;
    text-shadow: #3e3f3f;
    font-size: 40px;
}

.mainnav .container .login li a{
    color: rgb(255, 255, 255);
    line-height: 1.4;
    letter-spacing: .04em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-weight: inherit;
    font-family: "SC Sans Web","SC Sans",Arial,"Microsoft JhengHei",MingLiU,"PingFang TC","Lantinghei TC",sans-serif;
    display: flex;
    top: 0;
    right: 60px;
    z-index: 2;
    -webkit-box-align: center;
    align-items: center;
    position: static;
    height: auto;
    
}
.logoin .container .coutNo{
    padding:30px 30px; 
    border:0 none;
    cursor:pointer;
    margin: 30px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    padding:5px 15px; 
    border:2px  black solid;
    border: 3px solid #555;
    background-color: rgb(175, 174, 174);
    width: 160px;
    
}
.logoin .container .forgetid a{
    text-decoration: none;
    cursor: pointer;
} 

.mainnav .container .login li{
    box-sizing: border-box;
    outline: 0;
    font-family: "SC Sans Web","SC Sans",Arial,"Microsoft JhengHei",MingLiU,"PingFang TC","Lantinghei TC",sans-serif;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 0;
    background: 0 0;
    cursor: pointer;
    width: 100%;
    height: 32px;
    padding: 10px 20px;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #ffb000;;
    color: rgb(255, 255, 255);
    font-size: .75em;
    border-radius: 30px;
    }


.vip{
        margin-top: 60px;
}
.vip .container{
    width: 1200px;
    margin: auto;
    display: flex;
}
.vip .item-left{
    width: 40%;
    border: red 3px solid;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 100%;
    font-weight: normal;
    word-wrap: break-word;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    line-height: normal;
    background-color: #e4cc65;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 30px;
}
.vip .item-left h1{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    word-wrap: break-word;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 50px;
}
.vip .item-right h2{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    word-wrap: break-word;
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif TC', serif;
    line-height: 45px;
    letter-spacing: 2px;
    color: #603f1c;
    font-size: 26px;
    transition-property: opacity,transform;
    transition-timing-function: ease;
    transition-duration: 1s;
    opacity: 1;
    transform: translateZ(0);
}
.vip .item-right h3{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
 
    padding: 0;
    font-family: 'Noto Serif TC', serif;
    line-height: 45px;
    letter-spacing: 2px;
    color: #603f1c;
    font-size: 20px;
   
}
.vip .item-right h3{{

}

.vip .container .pic{
    width: 50px;

}
.vip .item-left .pic img{
    width: 100%;
}

.vip .item-right{
    width: 60%;
    border: red 3px solid
}



.little {
    margin-top: 60px;
    background-color: rgb(197, 197, 197);
}
.little .container{
    width: 1200px;
    margin: auto;
    display: flex;
    height: 500px;
   
}
.little .container .item{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    justify-content: right;
   
}
.little .container .item .pic{
    width: 150px;
}
.little .container .item .pic img{
    width: 100%;
}
.little .container .item-1{
   width:600px;
}
.little .container .item .are{
    width: 40%;
    justify-content: space-between;
}

.mainimg .container .txt h2{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    word-wrap: break-word;
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'Noto Serif TC', serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 4px;
}
.mainimg .container .txt p{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-weight: normal;
    word-wrap: break-word;
    text-align: right;
    color: rgb(27, 20, 20);
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 15px;
    opacity: 0.8;
}